<%= require("../partials/header.ejs")() %>
<article>
	<div class="container h-index">
		<div class="Graphic-box">
			<div class="big-title">
				<h1>平面設計</h1>
				<p>Graphic work</p>
				<p class="info">以下為我平日工作上所做的廣告平面設計</p>
			</div>
			<div class="Graphic-show">
				<h6>FB</h6>
				<div class="item">
					<img src='<%= require("../images/FB/FB_02.jpg") %>' alt="">
				</div>
				<div class="item">
					<img src='<%= require("../images/FB/FB_03.jpg") %>' alt="">
				</div>
				<div class="item big" >
					<img src='<%= require("../images/FB/FB_01.jpg") %>' alt="FB">
				</div>
			</div>
			<div class="Graphic-show">
				<h6>GDN</h6>
				<div class="item auto">
					<img src='<%= require("../images/GDN/300x600.jpg") %>' alt="">
				</div>
				<div class="item auto">
					<img src='<%= require("../images/GDN/120x600.jpg") %>' alt="">
				</div>
				<div class="item auto">
					<img src='<%= require("../images/GDN/160x600.jpg") %>' alt="">
				</div>
				<div class="item auto">
					<img src='<%= require("../images/GDN/240x400.jpg") %>' alt="">
				</div>
				<div class="item auto">
					<img src='<%= require("../images/GDN/580x400.jpg") %>' alt="">
				</div>
				<div class="item auto">
					<img src='<%= require("../images/GDN/336x280.jpg") %>' alt="">
				</div>
				<div class="item auto">
					<img src='<%= require("../images/GDN/970x250.jpg") %>' alt="">
				</div>
			</div>
		</div>
	</div>
</article>
<%= require("../partials/footer.ejs")() %>