<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>wunhuei - WebDesign work</title>
</head>
<body>
	<div class="web-bg"></div>
	<header>
		<button>
			<span></span>
			<span></span>
			<span></span>
		</button>
		<div class="nav-bg">
			<ul>
				<li><a href="index.html">TOP</a></li>
				<li><a href="Graphic.html">平面設計</a></li>
				<li><a href="WebDesign.html">網頁設計</a></li>
			</ul>
		</div>
	</header>
	<article>
		<div class="container h-index">
			<div class="WebDesign-box">
				<div class="big-title">
					<h1>網頁設計</h1>
					<p>WebDesign work</p>
					<p class="info">以下為我所製作出來的網站，基本的css、html的技術都有。</p>
					<p class="info">
						有後台維護網站:常用的套件有Owl Carousel.js(輪播)、Swiper.js(輪播)、wow.js(進場動畫)，也依照客戶需求，再寫一些Javascript、Jquery。
					</p>
					<p class="info">
						中華電信活動網站:從設計到網站製作出來都由我處理的，不太運用到第三方套件，都用純js寫出來的。
					</p>
				</div>
				<div class="WebDesign-show">
					<h6>有後台維護網站</h6>
					<div class="item">
						<a href="http://www.naturopathic.com.tw/" class="cover" target="_blank">
							<img src='<%= require("../images/web/IDEC_01.png") %>' alt="">
							<h2>黃勝雄</h2>
						</a>
					</div>
					<div class="item">
						<a href="http://www.gefuglass.com" class="cover" target="_blank">
							<img src='<%= require("../images/web/IDEC_11.png") %>' alt="">
							<h2>進富玻璃</h2>
						</a>
					</div>
					<div class="item">
						<a href="http://rwd1186.hiwinner.tw/" class="cover" target="_blank">
							<img src='<%= require("../images/web/IDEC_02.png") %>' alt="">
							<h2>文灝</h2>
						</a>
					</div>
					<div class="item">
						<a href="http://www.yue-tai.com.tw/" class="cover" target="_blank">
							<img src='<%= require("../images/web/IDEC_04.png") %>' alt="">
							<h2>裕泰</h2>
						</a>
					</div>
					<div class="item">
						<a href="http://www.ansan.com.tw/" class="cover" target="_blank">
							<img src='<%= require("../images/web/IDEC_08.png") %>' alt="">
							<h2>安勝</h2>
						</a>
					</div>
					<div class="item">
						<a href="http://www.ponderosa.com.tw/" class="cover" target="_blank">
							<img src='<%= require("../images/web/IDEC_03.png") %>' alt="">
							<h2>龐德羅莎</h2>
						</a>
					</div>
					<div class="item">
						<a href="http://www.shanjiecoating.com.tw/" class="cover" target="_blank">
							<img src='<%= require("../images/web/IDEC_05.png") %>' alt="">
							<h2>山杰</h2>
						</a>
					</div>
					<div class="item">
						<a href="http://www.coovia.com/" class="cover" target="_blank">
							<img src='<%= require("../images/web/IDEC_06.png") %>' alt="">
							<h2>中緻</h2>
						</a>
					</div>
					<div class="item">
						<a href="http://www.hallmarkintl.com/" class="cover" target="_blank">
							<img src='<%= require("../images/web/IDEC_07.png") %>' alt="">
							<h2>厚茂</h2>
						</a>
					</div>
					<div class="item">
						<a href="http://rwd1247.hiwinner.tw/" class="cover" target="_blank">
							<img src='<%= require("../images/web/IDEC_01.png") %>' alt="">
							<h2>親親家醫</h2>
						</a>
					</div>
					<div class="item">
						<a href="http://rwd1241.hiwinner.tw/" class="cover" target="_blank">
							<img src='<%= require("../images/web/IDEC_01.png") %>' alt="">
							<h2>鴻茂</h2>
						</a>
					</div>
					<div class="item">
						<a href="rwd1250" class="cover" target="_blank">
							<img src='<%= require("../images/web/IDEC_13.png") %>' alt="">
							<h2>仟米</h2>
						</a>
					</div>
				</div>
				<div class="WebDesign-show">
						<h6>中華電信活動網站</h6>
						<div class="item">
							<a href="http://googleplay-event.emome.net/201712-02/" class="cover" target="_blank">
								<img src='<%= require("../images/web/GooglePlay_01.png") %>' alt="">
								<h2>googleplay201712</h2>
							</a>
						</div>
						<div class="item">
							<a href="http://googleplay-event.emome.net/201804/" class="cover" target="_blank">
								<img src='<%= require("../images/web/GooglePlay_02.png") %>' alt="">
								<h2>googleplay201804</h2>
							</a>
						</div>
						<div class="item">
							<a href="http://googleplay-event.emome.net/201806/" class="cover" target="_blank">
								<img src='<%= require("../images/web/GooglePlay_03.png") %>' alt="">
								<h2>googleplay201806</h2>
							</a>
						</div>
						<div class="item">
							<a href="http://googleplay-event.emome.net/201811/" class="cover" target="_blank">
								<img src='<%= require("../images/web/GooglePlay_04.png") %>' alt="">
								<h2>googleplay201811</h2>
							</a>
						</div>
						<div class="item">
							<a href="http://googleplay-event.emome.net/20181103-05/" class="cover" target="_blank">
								<img src='<%= require("../images/web/GooglePlay_05.png") %>' alt="">
								<h2>googleplay20181103</h2>
							</a>
						</div>
						<div class="item">
							<a href="http://pay.emome.net/" class="cover" target="_blank">
								<img src='<%= require("../images/web/AppleStore_01.png") %>' alt="">
								<h2>Apple iTunes</h2>
							</a>
						</div>
				</div>
				<div class="WebDesign-show">
						<h6>客製表單</h6>
						<div class="item">
							<a href="http://googleplay201707.herokuapp.com/201804questionnaire/" class="cover" target="_blank">
								<img src='<%= require("../images/web/Form_01.png") %>' alt="">
								<h2>「APP續約」說明及問卷網頁</h2>
								<h3>判斷input區填入時，checkbox和radio會自動打勾或被選取</h3>
							</a>
						</div>
						<div class="item">
							<a href="http://www.dradvice.asia/ec99/rwd1031/active-form.asp" class="cover" target="_blank">
								<img src='<%= require("../images/web/Form_02.png") %>' alt="">
								<h2>健康力免費申請試用包</h2>
								<h3>當縣市/鄉鎮選好，下方會自動填入，鄉鎮資料我自己寫的。</h3>
							</a>
						</div>
				</div>
				<div class="WebDesign-show">
					<h6>練習作品</h6>
					<div class="item">
						<a href="http://googleplay201707.herokuapp.com/201804questionnaire/" class="cover" target="_blank">
							<img src='<%= require("../images/web/Practic_01.png") %>' alt="">
							<h2>高雄旅遊景點</h2>
							<h3>串接API、大量的js判斷</h3>
						</a>
					</div>
					<div class="item">
						<a href="http://www.dradvice.asia/ec99/rwd1031/active-form.asp" class="cover" target="_blank">
							<img src='<%= require("../images/web/Practic_02.png") %>' alt="">
							<h2>BMI</h2>
							<h3>大量的js判斷、有運用到local Storage</h3>
						</a>
					</div>
					<div class="item">
						<a href="https://wunhuei.github.io/myPizza/index.html#/" class="cover" target="_blank">
							<img src='<%= require("../images/web/Practic_03.png") %>' alt="">
							<h2>Vue網站(有簡易購物功能)</h2>
							<h3>Vue Cli、Vue Router</h3>
						</a>
					</div>
				</div>
			</div>
		</div>
	</article>
	<footer>
			<p>wunhuei個人作品。版權所有</p>
	</footer>
</body>
</html>